@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
  font-family: "Space Grotesk", sans-serif;
  font-size: small;
  font-weight: 400;
}


.background{
  display:flex;
  flex-direction: row;
  
}

/* @media(max-width: 1023px){
  .background{
    display:flex;
    flex-direction: column;
    
  }
} */